.row
  .five.columns
    = form_for @website do |f|
      = f.label :name
      = f.text_field :name, :autofocus => true
      = f.label :url
      = f.text_field :url
      = f.label :image_url
      = f.text_field :image_url
      = f.label :nokogiri_selector
      = f.text_field :nokogiri_selector
      = f.submit nil, :class => 'button radius'
  .seven.columns
